/* reset */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* common */
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 60%;
    margin: 0 auto;
}
ul li {
    list-style: none;
}
ol {
    /* color: red; */
    margin-left: 15px;
    margin-bottom: 30px;
}
ol li {
    margin-bottom: 20px;
}
ul li a:hover {
    color: rgb(39 106 227 / 87%);
}

/* HEADER */
header {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    height: 100px;
    padding: 0 20px;
    width: 100%;
    position: fixed; 
    z-index: 10;
}
/* logo */
.topHeader {
    /* border: 1px solid blue; */
    height: 60px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxTopHeader {
    /* border: 1px solid blue; */
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.textPrivacy {
    font-size: 20px;
    font-weight: 500;
    color: grey;
    /* border: 1px solid blue; */
}
.boxLogo {
    height: 25px;
    /* border: 1px solid blue; */
}
.boxLogo img {
    height: 100%;
}
.icon {
    background-color: violet;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
}
/* nav */
nav {
    height: 40px;
}
nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}
nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: grey;
}

/* MAIN */
main {
    /* height: 2000px; */
    margin: 0 auto;
    padding-top: 100px;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    font-weight: 400;
    /* background-color: lightgrey; */
}
main section {
    margin: 80px 0;
}
section h2 {
    font-family: 'Google Sans',sans-serif;
    margin-bottom: 20px;
    font-weight: 500;
    color: #3c4043;
}
section p {
    margin-bottom: 30px;
}
h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

/* FOOTER */
footer {
    background-color: rgb(236, 236, 236);
    height: 50px;
}
footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul {
    /* background-color: rgba(255, 0, 0, 0.473); */
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
footer ul li a {
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
    color: grey;
}